@import "vars";
@mixin flex__standard-btn($color-btn, $background-color-btn) {
    border: 1px solid black;
    width: 129px;
    height: 32px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $color-btn;
    border-radius: 8px;
    background-color: $background-color-btn;
}

* {
    box-sizing: border-box;
}

.container__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    min-width: 320px;

    .logoPazioli {
        padding-top: 15px;
        Width: 66px;
        Height: 55px;
    }

    .container__header--nav {
        display: none;
    }

    .cardShopping {
        display: block;
        padding-bottom: 25px;
        width: 21px;
        height: 22px;
        margin-right: 34px;
        margin-top: 25px;
    }

    nav {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    .container__header-nav .cardShopping {
        margin-left: 70px;
    }
}

.container__principalSection {
    text-align: center;

    h5 {
        color: #858585;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        margin-bottom: 0px;
        font-size: 16px;
    }

    h1 {
        margin-top: 10px;
        font-family: 'Abril Fatface', cursive;
        font-size: 32px;
        font-weight: lighter;
    }

    .btn__cursos {
        @include flex__standard-btn($color-btn: #FFFFFF, $background-color-btn: black)
    }

    .btn__adquirir {
        @include flex__standard-btn($color-btn: #000000, $background-color-btn: #FFFFFF, )
    }
}

.container__piano {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;

    .img__pianoBlack {
        width: 100%;
    }

    .container_social_media {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .container__header {
        .container__header--nav {
            display: block;
        }

        .container__header--nav .button__contacto {
            border: 1px solid black;
            width: 135px;
            height: 25px;
            text-align: center;
            padding-top: 3.5px;
            color: #FFFFFF;
            border-radius: 8px;
            background-color: #000000;
            margin-left: 10px;
            margin-top: 5px;
        }

        ul {
            padding-left: 120px;
        }

        li {
            margin: 10px;
            list-style: none;
            align-items: flex-end;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 14px;
        }
    }

    .container__principalSection {
        h1 {
            margin-top: 10px;
            font-family: 'Abril Fatface', cursive;
            font-size: 56px;
            font-weight: lighter;
        }
    }

    .container__piano .container_social_media {
        display: block;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 1300px;
        top: 780px;
    }
}


// sivia

@mixin flex__standard-btn($color-btn, $background-color-btn) {
    border: 1px solid black;
    width: 129px;
    height: 32px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $color-btn;
    border-radius: 8px;
    background-color: $background-color-btn;
}

* {

    box-sizing: border-box;
}

.container__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    min-width: 320px;

    .logoPazioli {
        padding-top: 15px;
        Width: 66px;
        Height: 55px;
    }

    .container__header--nav {
        display: none;
    }

    .cardShopping {
        display: block;
        padding-bottom: 25px;
        width: 21px;
        height: 22px;
        margin-right: 34px;
        margin-top: 25px;
    }

    nav {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    .container__header-nav .cardShopping {
        margin-left: 70px;
    }
}

.container__principalSection {
    text-align: center;

    h5 {
        color: #858585;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        margin-bottom: 0px;
        font-size: 16px;
    }

    h1 {
        margin-top: 10px;
        font-family: 'Abril Fatface', cursive;
        font-size: 32px;
        font-weight: lighter;
    }

    .btn__cursos {
        @include flex__standard-btn($color-btn: #FFFFFF, $background-color-btn: black)
    }

    .btn__adquirir {
        @include flex__standard-btn($color-btn: #000000, $background-color-btn: #FFFFFF, )
    }
}

.container__piano {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;

    .img__pianoBlack {
        width: 100%;
    }

    .container_social_media {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .container__header {
        .container__header--nav {
            display: block;
        }

        .container__header--nav .button__contacto {
            border: 1px solid black;
            width: 135px;
            height: 25px;
            text-align: center;
            padding-top: 3.5px;
            color: #FFFFFF;
            border-radius: 8px;
            background-color: #000000;
            margin-left: 10px;
            margin-top: 5px;
        }

        ul {
            padding-left: 120px;
        }

        li {
            margin: 10px;
            list-style: none;
            align-items: flex-end;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 14px;
        }
    }

    .container__principalSection {
        h1 {
            margin-top: 10px;
            font-family: 'Abril Fatface', cursive;
            font-size: 56px;
            font-weight: lighter;
        }
    }

    .container__piano .container_social_media {
        display: block;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 1300px;
        top: 780px;
    }
}


// sivia

@mixin combo__box-piano {
    width: 250px;
    height: 239px;
    background-color: $box-backgroung-color;
    box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    
}
@mixin name__pianos {
    width: 182px;
    height: 28px;
    padding-left: 10px;
    font-family: $titles-font-family;
    font-size: $titles-font-size;
    color: $titles-color;
    
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;  
    align-items: center;
    
    line-height: 22px;
    letter-spacing: $spacing-letter;
}
@mixin box__price-piano {
    width: 161px;
    height: 36px;
    border: $border-px $box-border-style $box-boder-color;
    border-radius: $radius-border;
    background-color: $box-backgroung-color;
    margin-left: 16px;
    padding-left: 10px;
    margin-bottom: 16px;
    display: flex;
    font-family: $text-font-family;
    font-size: $titles-font-size;
    color: $titles-color;
    align-items: center;
    text-align: center;
    line-height: 19px;
    letter-spacing: $spacing-letter;
    .black{
        font-weight: bold;
    }
}
@mixin car__shopping-piano {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: $radius-border;
    background-color: $button-background-color;


    margin-left: 21px;
    margin-right: 16px;
    margin-bottom: 16px;
}
@mixin line {
        width: 232px;
        height: 0px;
        border: 1px dashed #DBDBDB;
        align-items: center;
        margin-left: 9px;
        margin-bottom: 15px;
        
}
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/*DUDA*/
.container__pianos {
     
    display: flex;
    flex-direction: column;
    margin-top: 81px;

    .container__question {
        display: flex;
        justify-content: center;
        .container__tittle__question {
        
            width: 400px;
            font-family: $titles-font-family;
            font-size: $title-font-size;
            line-height: 43px;
            letter-spacing: $spacing-letter;
            text-align: center;
            margin-bottom: 70px;
                
    
        }

    }

    .container__combo__pianos {
        display: flex;
        margin-top: 81px;
        justify-content: space-evenly;
                
        .white__piano {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            @include combo__box-piano;
            .image__piano-white {
                width: 205px;
                height: 165.86px;
                margin-left: 20px;
                margin-bottom: 22.14px;
                                
            }
            .line__div {
                @include line;
            }
            .name-piano {
                @include name__pianos;
            }
            .text__caracteristic {
                
                .list__caracteristic{
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    margin-bottom: 15px;
                    .ellisep {
                        
                        width: 4px;
                        height: 4px;
                        background: black;
                        margin-top: 10px;
                        
                        
                    }
                }
            }
            .sale__white-piano{
                display: flex;
                flex-direction: row;
                margin-bottom: 90px;
                .price__white-piano {
                    @include box__price-piano;
                    
                }
                .car__piano {
                    @include car__shopping-piano;
             
                }
            }
        }
        .golden__piano {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include combo__box-piano;
            .image__piano-golden {
                width: 205px;
                height: 165.86px;
                margin-left: 20px;
                margin-bottom: 22.14px;
                                
            }
            .line__div {
                @include line;
            }
            .name-piano {
                @include name__pianos;
            }
            .text__caracteristic{
                
                .list__caracteristic{
                    display: flex;
                    justify-content: space-evenly;
                    justify-items: center;
                    list-style: none;
                    align-content: center;
                    margin-bottom: 15px;
                    text-align: center;
                    list-style-position: inside;
                    .ellisep {
                        width: 4px;
                        height: 4px;
                        background: black;
                        margin-top: 10px;
                        
                    }
                }
            }
            .sale__white-piano{
                display: flex;
                flex-direction: row;
                margin-bottom: 90px;
                .price__white-piano {
                    @include box__price-piano;
                }
                .car__piano {
                    @include car__shopping-piano;
                }
            }
        }
        .brown__piano {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include combo__box-piano;
            .image__piano-brown {
                width: 205px;
                height: 165.86px;
                margin-left: 20px;
                margin-bottom: 22.14px;
                                
            }
            .line__div {
                @include line;
            }
            .name-piano {
                @include name__pianos;
            }
            .text__caracteristic{
                .list__caracteristic{
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    margin-bottom: 15px;
                   
                        
                        .ellisep {
                                                                   
                            width: 4px;
                            height: 4px;
                            background: black;
                                          
                            
                        }
                    
                }

            }
            .sale__white-piano{
                display: flex;
                flex-direction: row;
                margin-bottom: 90px;
                .price__white-piano {
                    @include box__price-piano;
                }
                .car__piano {
                    @include car__shopping-piano;
          
                }
            }
        }
    }
    .container__button {
        display: flex;
        justify-content: center;
        .button__ver {
            width: 129px;
            height: 32px;
        
            border-radius: $radius-border;
            font-family: $text-font-family;
            font-size: $button-font-size;
            background-color: $button-background-color;
            color: white;
            font-weight: bold;
            margin-top: 65px;

        
        }
    }
    
}

    
}
@media only screen and (max-width:440px){
    #section2 {
        background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #ffffff 97.7%), url('../img/pianoBackground\ \(2\).png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box__flex {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 25px;
    }
    .play__pianito {
        margin-left: 70px;
        margin-top: 50px;
    }
    .play__pianito > .pianito {
        height: 180px;
        width: 250px;
    }
    .nuevo__modelo {
        margin-left: 15%;
    }
    .nuevo__modelo {
        width: 250px;
    }
    .nuevo__modelo > .new__model {
        font-size: 20px;
        text-align: center;
    }  
    .info__nuevo__modelo {
        color: #ffffff;
        display: block;
        margin: 5px;
        margin-top: 10px;
        padding-left: 45px;
        width: 250px;
    }
    .info__nuevo__modelo > h3 {
        font-size: 15px;
    }
    .valoration {
        display: flex;
        font-family: 'Abril Ftaface', cursive;
    }
    .valoration > h6, .parrafo__lorem__info {
        font-size: 12px;
    }
    .valoration > .estrellita  {
        height: 12px;
        margin-left: 2px;
        width: 12px;
    }
    .div__for__spams {
        margin-top: 10px;
        font-size: 12px;
    }
    .nuevo {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .year__2021 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .acustico {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .modelo__cedro {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .add__to__list {
        background-color: black;
        border-bottom: 2px;
        border-color: #ffffff;
        border-radius: 8px;
        color: #ffffff;
        display: block;
        height: 25px;
        justify-content: center;
        margin-top: 25px;
        padding-top: 5px;
        text-align: center;
        width: 180px;
    }
    .add__to__list:hover {
        background-color: #413f3f;
        color: rgb(255, 255, 0);
        cursor: pointer;
    }
}
@media only screen and (min-width:441px){
    #section2 {
        background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #ffffff 97.7%), url('../img/pianoBackground\ \(2\).png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nuevo__modelo {
        margin-left: 10%;
    }
    .box__flex {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 25px;
    }
    .estrellita {
        width: 16px;
        height: 15px;
    }
    .pianito {
        width: 370px;
        height: 308px;
    }
    .nuevo__modelo {
        align-items: center;
        display: flex;
        height: 62px;
        margin-left: 14%;
        width: 360px;
    }
    .nuevo__modelo > .new__model {
        font-family: 'Abril Fatface', cursive;
        font-size: 28px;
        margin-top: 65px;
        text-align: center;
    }
    .info__nuevo__modelo {
        color: #ffffff;
        width: 250px;
        margin-top: 25px;
        margin-left: 40px;
        display: block;
    }
    .new__ebony__f228 {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
    }
    .valoration {
        display: flex;
        font-family: 'Raleway', sans-serif;
        margin-top: 15px;
    }
    .since__price {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
        margin-top: 15px;
    }
    .parrafo__lorem__info {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-top: 15px;
    }
    .div__for__spams {
        margin-top: 10px;
    }
    .nuevo {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .year__2021 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .acustico {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .modelo__cedro {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .add__to__list {
        background-color: black;
        border-bottom: 2px;
        border-color: #ffffff;
        border-radius: 8px;
        color: #ffffff;
        display: block;
        height: 25px;
        justify-content: center;
        margin-top: 45px;
        text-align: center;
        width: 180px;
    }
    .add__to__list:hover {
        background-color: #413f3f;
        color: rgb(255, 255, 0);
        cursor: pointer;
    }
    .play__pianito {
        margin-left: 90px;
        margin-top: 50px;
    }
    .play__pianito > .pianito {
        height: 200px;
        width: 270px;
    }
}
@media only screen and (min-width:520px){
    #section2 {
        background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #ffffff 97.7%), url('../img/pianoBackground\ \(2\).png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nuevo__modelo {
        margin-left: 10%;
    }
    .box__flex {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 25px;
    }
    .estrellita {
        width: 16px;
        height: 15px;
    }
    .pianito {
        width: 370px;
        height: 308px;
    }
    .nuevo__modelo {
        align-items: center;
        display: flex;
        height: 62px;
        margin-left: 18%;
        width: 360px;
    }
    .nuevo__modelo > .new__model {
        font-family: 'Abril Fatface', cursive;
        font-size: 28px;
        margin-top: 65px;
        text-align: center;
    }
    .info__nuevo__modelo {
        color: #ffffff;
        width: 250px;
        margin-top: 25px;
        margin-left: 75px;
        display: block;
    }
    .new__ebony__f228 {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
    }
    .valoration {
        display: flex;
        font-family: 'Raleway', sans-serif;
        margin-top: 15px;
    }
    .since__price {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
        margin-top: 15px;
    }
    .parrafo__lorem__info {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-top: 15px;
    }
    .div__for__spams {
        margin-top: 10px;
    }
    .nuevo {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .year__2021 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .acustico {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .modelo__cedro {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .add__to__list {
        background-color: black;
        border-bottom: 2px;
        border-color: #ffffff;
        border-radius: 8px;
        color: #ffffff;
        display: block;
        height: 25px;
        justify-content: center;
        margin-top: 45px;
        text-align: center;
        width: 180px;
    }
    .add__to__list:hover {
        background-color: #413f3f;
        color: rgb(255, 255, 0);
        cursor: pointer;
    }
    .play__pianito {
        margin-left: 90px;
        margin-top: 50px;
    }
    .play__pianito > .pianito {
        height: 200px;
        width: 270px;
    }
}
@media only screen and (min-width:600px){
    #section2 {
        background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #ffffff 97.7%), url('../img/pianoBackground\ \(2\).png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nuevo__modelo {
        margin-left: 10%;
    }
    .box__flex {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 25px;
    }
    .estrellita {
        width: 16px;
        height: 15px;
    }
    .pianito {
        width: 370px;
        height: 308px;
    }
    .nuevo__modelo {
        align-items: center;
        display: flex;
        height: 62px;
        margin-left: 22%;
        width: 360px;
    }
    .nuevo__modelo > .new__model {
        font-family: 'Abril Fatface', cursive;
        font-size: 28px;
        margin-top: 65px;
        text-align: center;
    }
    .info__nuevo__modelo {
        color: #ffffff;
        width: 300px;
        margin-top: 25px;
        margin-left: 145px;
        display: block;
    }
    .new__ebony__f228 {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
    }
    .valoration {
        display: flex;
        font-family: 'Raleway', sans-serif;
        margin-top: 15px;
    }
    .since__price {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
        margin-top: 15px;
    }
    .parrafo__lorem__info {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-top: 15px;
    }
    .div__for__spams {
        margin-top: 10px;
    }
    .nuevo {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .year__2021 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .acustico {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .modelo__cedro {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .add__to__list {
        background-color: black;
        border-bottom: 2px;
        border-color: #ffffff;
        border-radius: 8px;
        color: #ffffff;
        display: block;
        height: 25px;
        justify-content: center;
        margin-top: 25px;
        text-align: center;
        width: 180px;
    }
    .add__to__list:hover {
        background-color: #413f3f;
        color: rgb(255, 255, 0);
        cursor: pointer;
    }
    .play__pianito {
        margin-left: 150px;
        margin-top: 50px;
    }
    .play__pianito > .pianito {
        height: 200px;
        width: 270px;
    }
}
@media only screen and (min-width:710px){
    #section2 {
        background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #ffffff 97.7%), url('../img/pianoBackground\ \(2\).png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nuevo__modelo {
        margin-left: 10%;
    }
    .box__flex {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 25px;
    }
    .estrellita {
        width: 16px;
        height: 15px;
    }
    .pianito {
        height: 308px;
        width: 370px;
    }
    .nuevo__modelo {
        align-items: center;
        display: flex;
        height: 62px;
        margin-left: 32%;
        width: 360px;
    }
    .nuevo__modelo > .new__model {
        font-family: 'Abril Fatface', cursive;
        font-size: 28px;
        margin-top: 65px;
        text-align: center;
    }
    .info__nuevo__modelo {
        color: #ffffff;
        width: 350px;
        margin-top: 25px;
        margin-left: 245px;
        display: block;
    }
    .new__ebony__f228 {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
    }
    .valoration {
        display: flex;
        font-family: 'Raleway', sans-serif;
        margin-top: 15px;
    }
    .since__price {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
        margin-top: 15px;
    }
    .parrafo__lorem__info {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-top: 15px;
    }
    .div__for__spams {
        margin-top: 10px;
    }
    .nuevo {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .year__2021 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .acustico {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .modelo__cedro {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .add__to__list {
        background-color: black;
        border-bottom: 2px;
        border-color: #ffffff;
        border-radius: 8px;
        color: #ffffff;
        display: block;
        height: 25px;
        justify-content: center;
        margin-top: 25px;
        text-align: center;
        width: 180px;
    }
    .add__to__list:hover {
        background-color: #413f3f;
        color: rgb(255, 255, 0);
        cursor: pointer;
    }
    .play__pianito {
        margin-left: 250px;
        margin-top: 50px;
    }
    .play__pianito > .pianito {
        height: 340px;
        width: 300px;
    }
}
@media only screen and (min-width:1000px){
    #section2 {
        background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #ffffff 97.7%), url('../img/pianoBackground\ \(2\).png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
    
    }
    .box__flex {
        display: flex;
        margin-top: 100px;
    }
    .estrellita {
        width: 16px;
        height: 15px;
    }
    .pianito {
        width: 370px;
        height: 308px;
    }
    .nuevo__modelo {
        align-items: center;
        display: flex;
        height: 62px;
        margin-left: 37%;
        width: 360px;
    }
    .nuevo__modelo > .new__model {
        font-family: 'Abril Fatface', cursive;
        font-size: 28px;
        font-weight: 400;
        margin-top: 65px;
        text-align: center;
    }
    .info__nuevo__modelo {
        color: #ffffff;
        width: 350px;
        margin: 100px;
        margin-top: 100px;
        padding-left: 25px;
        display: block;
    }
    .new__ebony__f228 {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
    }
    .valoration {
        display: flex;
        font-family: 'Raleway', sans-serif;
        margin-top: 15px;
    }
    .since__price {
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
        margin-top: 15px;
    }
    .parrafo__lorem__info {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-top: 15px;
    }
    .div__for__spams {
        margin-top: 10px;
    }
    .nuevo {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .year__2021 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .acustico {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .modelo__cedro {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 5px;
    }
    .add__to__list {
        background-color: black;
        border-bottom: 2px;
        border-color: #ffffff;
        border-radius: 8px;
        color: #ffffff;
        display: block;
        height: 25px;
        justify-content: center;
        margin-top: 45px;
        text-align: center;
        width: 180px;
    }
    .add__to__list:hover {
        background-color: #413f3f;
        color: rgb(255, 255, 0);
        cursor: pointer;
    }
    .play__pianito {
        margin-left: 250px;
        margin-top: 90px;
    }
    .play__pianito > .pianito {
        height: 400px;
        width: 400px;
    }
}
@media only screen and (max-width: 768px) {
    .container__pianos {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .container__title__cuestion {
            font-size: 24px;
            margin-bottom: 40px;
        }
        .container__combo__pianos{
            display: flex;
            flex-direction: column;
            margin-top: 0px;

            .white__piano {
                width: 250px;
                height: 350px;
                border-radius: 8px;
                background: white;
                margin-bottom: 24px;

                /* shadow-cards */
                box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
                .image__piano-white {
                    width: 205px;
                    height: 165.86px;
                    margin-left: 20px;
                    margin-bottom: 22.14px;
                }
                .line__div {
                    @include line;
                }
                .name-piano {
                    @include name__pianos;
                }
                .text__caracteristic {
                    
                    .list__caracteristic{
                        display: flex;
                        justify-content: space-evenly;
                        justify-items: center;
                        list-style: none;
                        align-content: center;
                        margin-bottom: 15px;
                        .ellisep {
                            width: 4px;
                            height: 4px;
                            background: black;
                            
                        }
                    }
                }
                .sale__white-piano{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 0px;
                    .price__white-piano {
                        @include box__price-piano;
                        
                    }
                    .car__piano {
                        @include car__shopping-piano;
                        .car__position{
                            
                            padding-left: 20%;
                            padding-top: 20px;
                            
                            background-color: black;
                            
                        }
                    }
                }
            }
            .golden__piano {
                width: 250px;
                height: 350px;
                border-radius: 8px;
                background: white;
                margin-bottom: 24px;
                /* shadow-cards */
                box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
                .image__piano-golden {
                    width: 205px;
                    height: 165.86px;
                    margin-left: 20px;
                    margin-bottom: 22.14px;
                }
                .line__div {
                    @include line;
                }
                .name-piano {
                    @include name__pianos;
                }
                .text__caracteristic {
                    
                    .list__caracteristic{
                        display: flex;
                        justify-content: space-evenly;
                        justify-items: center;
                        list-style: none;
                        align-content: center;
                        margin-bottom: 15px;
                        .ellisep {
                            width: 4px;
                            height: 4px;
                            background: black;
                            
                        }
                    }
                }
                .sale__white-piano{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 0px;
                    .price__white-piano {
                        @include box__price-piano;
                        
                    }
                    .car__piano {
                        @include car__shopping-piano;
                        .car__position{
                            
                            padding-left: 20%;
                            padding-top: 20px;
                            
                            background-color: black;
                            
                        }
                    }
                }
            }
            .brown__piano {
                width: 250px;
                height: 350px;
                border-radius: 8px;
                background: white;

                /* shadow-cards */
                box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
                .image__piano-brown {
                    width: 205px;
                    height: 165.86px;
                    margin-left: 20px;
                    margin-bottom: 22.14px;
                }
                .line__div {
                    @include line;
                }
                .name-piano {
                    @include name__pianos;
                }
                .text__caracteristic {
                    
                    .list__caracteristic{
                        display: flex;
                        justify-content: space-evenly;
                        justify-items: center;
                        list-style: none;
                        align-content: center;
                        margin-bottom: 15px;
                        .ellisep {
                            width: 4px;
                            height: 4px;
                            background: black;
                            
                        }
                    }
                }
                .sale__white-piano{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 0px;
                    .price__white-piano {
                        @include box__price-piano;
                        
                    }
                    .car__piano {
                        @include car__shopping-piano;
                        .car__position{
                            
                            padding-left: 20%;
                            padding-top: 20px;
                            
                            background-color: black;
                            
                        }
                    }
                }
            }
            
        }
    }
    .container__tittle__question {
        font-size: 24px;
    }
