* {
  box-sizing: border-box;
}

.container__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  min-width: 320px;
}
.container__header .logoPazioli {
  padding-top: 15px;
  Width: 66px;
  Height: 55px;
}
.container__header .container__header--nav {
  display: none;
}
.container__header .cardShopping {
  display: block;
  padding-bottom: 25px;
  width: 21px;
  height: 22px;
  margin-right: 34px;
  margin-top: 25px;
}
.container__header nav {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.container__header ul {
  display: flex;
  flex-direction: row;
}
.container__header .container__header-nav .cardShopping {
  margin-left: 70px;
}

.container__principalSection {
  text-align: center;
}
.container__principalSection h5 {
  color: #858585;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  margin-bottom: 0px;
  font-size: 16px;
}
.container__principalSection h1 {
  margin-top: 10px;
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  font-weight: lighter;
}
.container__principalSection .btn__cursos {
  border: 1px solid black;
  width: 129px;
  height: 32px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #FFFFFF;
  border-radius: 8px;
  background-color: black;
}
.container__principalSection .btn__adquirir {
  border: 1px solid black;
  width: 129px;
  height: 32px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #000000;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.container__piano {
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}
.container__piano .img__pianoBlack {
  width: 100%;
}
.container__piano .container_social_media {
  display: none;
}

@media only screen and (min-width: 992px) {
  .container__header .container__header--nav {
    display: block;
  }
  .container__header .container__header--nav .button__contacto {
    border: 1px solid black;
    width: 135px;
    height: 25px;
    text-align: center;
    padding-top: 3.5px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #000000;
    margin-left: 10px;
    margin-top: 5px;
  }
  .container__header ul {
    padding-left: 120px;
  }
  .container__header li {
    margin: 10px;
    list-style: none;
    align-items: flex-end;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  .container__principalSection h1 {
    margin-top: 10px;
    font-family: "Abril Fatface", cursive;
    font-size: 56px;
    font-weight: lighter;
  }
  .container__piano .container_social_media {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1300px;
    top: 780px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/*DUDA*/
.container__pianos {
  display: flex;
  flex-direction: column;
  /*align-content: center;**/
  align-content: center;
  margin-top: 81px;
}
.container__pianos .title__cuestion {
  width: 400px;
  font-family: "Abril Fatface";
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-align: center;
  justify-content: center;
  margin-bottom: 70px;
}
.container__pianos .container__combo__pianos {
  display: flex;
  margin-top: 81px;
  justify-content: space-evenly;
}
.container__pianos .container__combo__pianos .white__piano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 239px;
  background-color: white;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.container__pianos .container__combo__pianos .white__piano .image__piano-white {
  width: 205px;
  height: 165.86px;
  margin-left: 20px;
  margin-bottom: 22.14px;
}
.container__pianos .container__combo__pianos .white__piano .line__div {
  width: 232px;
  height: 0px;
  border: 1px dashed #DBDBDB;
  align-items: center;
  margin-left: 9px;
  margin-bottom: 15px;
}
.container__pianos .container__combo__pianos .white__piano .name-piano {
  width: 182px;
  height: 28px;
  padding-left: 10px;
  font-family: "Abril Fatface";
  font-size: 16px;
  color: black;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.container__pianos .container__combo__pianos .white__piano .text__caracteristic .list__caracteristic {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  list-style: none;
  align-content: center;
  margin-bottom: 15px;
}
.container__pianos .container__combo__pianos .white__piano .text__caracteristic .list__caracteristic .ellisep {
  width: 4px;
  height: 4px;
  background: black;
}
.container__pianos .container__combo__pianos .white__piano .sale__white-piano {
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}
.container__pianos .container__combo__pianos .white__piano .sale__white-piano .price__white-piano {
  width: 161px;
  height: 36px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  margin-left: 16px;
  padding-left: 10px;
  margin-bottom: 16px;
  display: flex;
  font-family: "Raleway";
  font-size: 16px;
  color: black;
  align-items: center;
  text-align: center;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.container__pianos .container__combo__pianos .white__piano .sale__white-piano .price__white-piano .black {
  font-weight: bold;
}
.container__pianos .container__combo__pianos .white__piano .sale__white-piano .car__piano {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: black;
  padding-left: 5px;
  padding-top: 5px;
  align-content: center;
  margin-left: 21px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.container__pianos .container__combo__pianos .white__piano .sale__white-piano .car__piano .car__position {
  padding-left: 20%;
  padding-top: 20px;
  background-color: black;
}
.container__pianos .container__combo__pianos .golden__piano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 239px;
  background-color: white;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.container__pianos .container__combo__pianos .golden__piano .image__piano-golden {
  width: 205px;
  height: 165.86px;
  margin-left: 20px;
  margin-bottom: 22.14px;
}
.container__pianos .container__combo__pianos .golden__piano .line__div {
  width: 232px;
  height: 0px;
  border: 1px dashed #DBDBDB;
  align-items: center;
  margin-left: 9px;
  margin-bottom: 15px;
}
.container__pianos .container__combo__pianos .golden__piano .name-piano {
  width: 182px;
  height: 28px;
  padding-left: 10px;
  font-family: "Abril Fatface";
  font-size: 16px;
  color: black;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.container__pianos .container__combo__pianos .golden__piano .text__caracteristic .list__caracteristic {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  list-style: none;
  align-content: center;
  margin-bottom: 15px;
}
.container__pianos .container__combo__pianos .golden__piano .text__caracteristic .list__caracteristic .ellisep {
  width: 4px;
  height: 4px;
  background: black;
  justify-content: center;
}
.container__pianos .container__combo__pianos .golden__piano .sale__white-piano {
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}
.container__pianos .container__combo__pianos .golden__piano .sale__white-piano .price__white-piano {
  width: 161px;
  height: 36px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  margin-left: 16px;
  padding-left: 10px;
  margin-bottom: 16px;
  display: flex;
  font-family: "Raleway";
  font-size: 16px;
  color: black;
  align-items: center;
  text-align: center;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.container__pianos .container__combo__pianos .golden__piano .sale__white-piano .price__white-piano .black {
  font-weight: bold;
}
.container__pianos .container__combo__pianos .golden__piano .sale__white-piano .car__piano {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: black;
  padding-left: 5px;
  padding-top: 5px;
  align-content: center;
  margin-left: 21px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.container__pianos .container__combo__pianos .brown__piano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 239px;
  background-color: white;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.container__pianos .container__combo__pianos .brown__piano .image__piano-brown {
  width: 205px;
  height: 165.86px;
  margin-left: 20px;
  margin-bottom: 22.14px;
}
.container__pianos .container__combo__pianos .brown__piano .line__div {
  width: 232px;
  height: 0px;
  border: 1px dashed #DBDBDB;
  align-items: center;
  margin-left: 9px;
  margin-bottom: 15px;
}
.container__pianos .container__combo__pianos .brown__piano .name-piano {
  width: 182px;
  height: 28px;
  padding-left: 10px;
  font-family: "Abril Fatface";
  font-size: 16px;
  color: black;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.container__pianos .container__combo__pianos .brown__piano .text__caracteristic .list__caracteristic {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  list-style: none;
  align-content: center;
  margin-bottom: 15px;
}
.container__pianos .container__combo__pianos .brown__piano .text__caracteristic .list__caracteristic .ellisep {
  width: 4px;
  height: 4px;
  background: black;
}
.container__pianos .container__combo__pianos .brown__piano .sale__white-piano {
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}
.container__pianos .container__combo__pianos .brown__piano .sale__white-piano .price__white-piano {
  width: 161px;
  height: 36px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  margin-left: 16px;
  padding-left: 10px;
  margin-bottom: 16px;
  display: flex;
  font-family: "Raleway";
  font-size: 16px;
  color: black;
  align-items: center;
  text-align: center;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.container__pianos .container__combo__pianos .brown__piano .sale__white-piano .price__white-piano .black {
  font-weight: bold;
}
.container__pianos .container__combo__pianos .brown__piano .sale__white-piano .car__piano {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: black;
  padding-left: 5px;
  padding-top: 5px;
  align-content: center;
  margin-left: 21px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.container__pianos .button__ver {
  width: 129px;
  height: 32px;
  border-radius: 8px;
  font-family: "Raleway";
  font-size: 14px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 65px;
}

@media only screen and (max-width: 768px) {
  .container__pianos {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .container__pianos .container__combo__pianos {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .title__cuestion {
    font-size: 24px;
  }
}/*# sourceMappingURL=styles.css.map */